body {
    background-image: linear-gradient(to right, rgb(235, 204, 67), rgb(248, 192, 86), rgb(241, 157, 157));
    text-align: center;
}

div.transbox {
    margin: 30x;
    background-color: rgba(244, 181, 152, 0.787);
    border: 2px solid rgb(14, 13, 13);
}

h1 {
    color: rgb(253, 108, 4);
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    padding-bottom: 18px;
    padding-top: 18px;
}

h2 {
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding-top: 7px;
}

ul {
    padding-top: 5;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    text-align: left;
}