body {
    background-image: linear-gradient(to right, rgb(206, 255, 193), rgb(108, 166, 108), rgb(71, 132, 71));
    text-align: center;
}

h1 {
    color: rgb(183, 153, 5);
    font-family: Times New Roman;
    font-style: bold;
}

h2 {
    color: rgb(3, 39, 1);
    font-family: Times New Roman;
}

h3 {
    font-family: 'Times New Roman', Times, serif;
}