body {
    background-color: rgba(249, 208, 172, 0.461);
    text-align: center;
}

h1 {
    color: tomato;
    font-family: Times New Roman;
    font-style: bold;
}

h2 {
    color: darkgreen;
    font-family: Times New Roman;
}