body {
    background-color: rgb(197, 197, 197);
    text-align: center;
}

div.transbox {
    margin: 30px;
    background-color: rgba(132, 132, 132, 0.787);
    border: 2px solid rgb(250, 243, 243);
}

h1 {
    padding-top: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
}

h2 {
    color: brown;
    font-family: Times New Roman;
    font-size: 27px;
}

ul {
    color: darkgreen;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    text-align: left;
}